$black: #000000;
$light-white: #fff;
$light-blue: #03A9F4;
$gray-500: #9E9E9E;
$blue-gray-900: #263238;
$pink-500: #E91E63;
$primary-color: #FF9800;
$secondary-color: #3E50B4;
$teal-500: #009688;
$semi-transparent: rgba(0, 0, 0, 0.2);