.tool-bar {
  height: 56px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .inner {
    display: flex;
    align-items: center;
  }

  .left-btn {
    float: left;
    z-index: 996;
  }

  .right-btn {
    float: right;
  }

  .screen-title {
    margin: 0 auto;
    overflow: hidden;
    color: #9E9E9E;
    font-weight: 700;
  }
}