.tool-bar {
  height: 56px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .inner {
    display: flex;
    align-items: center;
  }

  .left-btn {
    float: left;
    z-index: 996;
  }

  .right-btn {
    float: right;
  }

  .screen-title {
    margin: 0 auto;
    overflow: hidden;
    
    span {
      color: $gray-500;
      font-weight: 700;
    }
  }
}