.app-header {
  min-height: 250px;
  position: fixed;
  top: 0;
  width: 100%;
}

.list-info > .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-name {
  width: 50%;
}

.list-item-tags {
  display: flex;
  width: 50%;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.app-header > footer {
  position: absolute;
  bottom: 0;
  height: 56px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.app-header > footer > .inner {
  display: flex;
  justify-content: space-between; 
}
