.projectContainer {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
}

.modal {
  .formField {
    width: 100%;
    box-sizing: border-box;
    height: 56px;
    padding-top: 10px;
  
    .inner {
      display: flex;
      flex-direction: column;
    }
  
    input {
      color: #000000;
      font-size: 15px;
      background-color: transparent;
      padding: 4px 0;
      width: 100%;
      border: none;
      border-bottom: 1px solid $gray-500;
    }
  
    label {
      font-size: 13px;
      color: $light-blue;
    }
  }
}