$light-white: #fff;
$light-blue: #03A9F4;
$light-gray: #9E9E9E;
$urgent-color: #E91E63;
$primary-color: #FF9800;
$secondary-color: #3E50B4;
$finished-color: #009688;

body {
  font-family: Roboto, sans-serif;
  position: relative;
}

button {
  border: none;
  padding: 0;
  background-color: transparent;
}

h1, h2, h3, h4 {
  font-weight: 400;
  margin: 0;
}

a, a:link, a:visited, a:hover, a:focus, a:active{
  color: inherit;
  text-decoration: none;
}

i {
  color: $light-white;
  cursor: pointer;
}

form {
  width: 100%;
}

select, input {
  background-color: transparent;
  width: 100%;
  border: none;
  border-bottom: 1px solid #9E9E9E;
  height: 56px;
  color: #9E9E9E;
}

.inner {
  box-sizing: border-box;
  width: 100%;
  padding: 0 16px;
}

.form-field {
  .react-datepicker-wrapper {
    width: 100%;
  }

  .react-datepicker__input-container {
    width: 100%;
  }
}

// color
.section-title {
  color: $light-gray;
}

.floating-action-button > i, .app-header {
  color: $light-white;
}

.floating-action-button {
  background-color: $light-blue;
}

.urgent-bg {
  background-color: $urgent-color;
}

.primary-bg {
  background-color: $primary-color;
}

.secondary-bg {
  background-color: $secondary-color;
}

.finished-bg {
  background-color: $finished-color;
}

.urgent {
  color: $urgent-color;
}

.primary {
  color: $primary-color;
}

.secondary {
  color: $secondary-color;
}

.finished {
  color: $finished-color;
}