.snack-bar {
  display: flex;
  align-items: center;
  background-color: #323232;
  height: 48px;
  width: 100%;
  font-size: 14px;
  position: fixed;
  bottom: 0;
  color: #fff;

  .inner {
    padding: 0 48px;
  }
}

.snackbar-enter {
  bottom: -100%;
}

.snackbar-enter.snackbar-enter-active {
  bottom: 0;
  transition: bottom 500ms ease-in;
}

.snackbar-leave {
  bottom: 0;
}

.snackbar-leave.snackbar-leave-active {
  bottom: -100%;
  transition: bottom 500ms ease-in;
}